*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* ENCABEZADO */
#header{
    width: 100vw;
}

.navbar{
    width: 100vw;
}

.nav-item a{
    text-align: center;
}

.nav-link{
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-link:hover{
    color: black;
}

/* LOGO */
.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.logo-circulo{
    width: 10%;
    height: 10%;
}

.logo h1{
    margin: 0px 0px 0px 10px;
    font-size: 1.5rem;
    font-weight: 800;
}

/* INDEX PORTADA */
.portada-contenedor{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: top;
}

.portada-foto{
    position: fixed;
    height: 100%;
    z-index: -10;
}

/* INDEX SEPARADOR FRASE */
#servicios{
    background: white;
}

.separador-frase{
    background-color: white;
    height: 200px;
    width: 100vw;
    padding: 0px 30px 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 8;
}

.separador-frase h2{
    text-align: center;
    font-weight: 900;
    font-size: 3rem;
    margin-top: 50px;
}

/* INDEX SERVICIOS */

.seccion-servicios{
    height: 70vh;
    display: flex;
}

.servicios-imagen{
    height: 70vh;
    width: 60vw;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.servicios-imagen img{
    height: 100%;
}

.servicios-imagen video{
    height: 100%;
    right: 0;
}

.titular{
    background: white;
    height: 70vh;
    width: 40vw;
    z-index: 6;
    display: flex;
    align-items: flex-end;
    transition: 0.5s;
}

.titular-der{
    justify-content:flex-end;
    padding-right: 20px;
}

.titular-izq{
    justify-content:flex-start;
    padding-left: 20px;
}

.titular a{
    text-decoration: none;
}

.titular h3{
    font-size: 2.5rem;
    font-weight: 800;
    text-align: right;
    padding: 20px 0px 30px 0px;
}

.seccion-servicios:hover a h3{
    color: white;
    border-top: solid 2px white; 
}

.titular-fotografia a h3{
    color: rgb(255, 189, 57); 
    border-top: solid 2px rgb(255, 189, 57);
    transition: 0.5s;
}
.seccion-fotografia:hover .titular-fotografia{
    background: rgb(255, 189, 57); 
}

.titular-audiovisual a h3{
    color: rgb(85, 138, 174);
    border-top: solid 2px rgb(85, 138, 174);
    transition: 0.5s;
}
.seccion-audiovisual:hover .titular-audiovisual{
    background: rgb(85, 138, 174); 
}

.titular-redes a h3{
    color: #bdad9a;
    border-top: solid 2px #bdad9a;
    transition: 0.5s;
}
.seccion-redes:hover .titular-redes{
    background: #bdad9a; 
}

.titular-retoque a h3{
    color: #ba5755;
    border-top: solid 2px #ba5755;
    transition: 0.5s;
}
.seccion-retoque:hover .titular-retoque{
    background: #ba5755; 
}

.titular-creativa a h3{
    color: rgb(218, 148, 174);
    border-top: solid 2px rgb(218, 148, 174);
    transition: 0.5s;
}
.seccion-creativa:hover .titular-creativa{
    background: rgb(218, 148, 174); 
}

.titular-fotoperiodismo a h3{
    color: rgb(136, 129, 120);
    border-top: solid 2px rgb(136, 129, 120);
    transition: 0.5s;
}
.seccion-fotoperiodismo:hover .titular-fotoperiodismo{
    background: rgb(136, 129, 120); 
}

.titular-personal a h3{
    color: rgb(255, 189, 57);
    border-top: solid 2px rgb(255, 189, 57);
    transition: 0.5s;
}
.seccion-personal:hover .titular-personal{
    background: rgb(255, 189, 57); 
}

/* TRABAJOS */
/* MENU NAVEGACION TRABAJOS */
.nav-trabajos {
    width: 100vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top:60px;
}

.nav-trabajos-contenedor{
    width: 100vw;
    padding: 0px 10px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-trabajos-contenedor ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 5px;
}

.nav-trabajos-contenedor ul li{
    padding: 0px 10px 0px 10px;
}

.nav-trabajos-contenedor ul li a{
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
}

.nav-trabajos-contenedor ul li:hover a{
    font-weight: 700;
}


/* GRILLA TRABAJOS */

#grilla-trabajos{
    width: 100vw;
    display: grid;
    overflow: hidden;
    grid-template-columns: 100%;
    grid-template-rows: repeat(21, 30vh);
    gap: 5px;
}

.grilla-item a{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
}

.grilla-item a img{
    width: 100%;
}

.grilla-item a video{
    width: 100%;
}

.info-item{
    background-color: rgba(0, 0, 0, 0.525);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px 0px 30px;
    width: 100%;
    height: 30vh;
    opacity: 0;
    transition: 0.5s;
}

.info-item h4, .info-item p{
    color: white;
    text-align: center;
}

.grilla-item:hover .info-item{
    opacity: 100%;
}

/* CONTACTO */
#contact{
    margin-top: 100px;
}

.mt-0{
    font-size: 3rem;
    font-weight: 900;
}

/* PIE */
#pie{
    background-color: white;
    display: flex;
    width: 100vw;
    padding: 10px 30px 10px 30px;
    justify-content: space-between;
    position: relative;
}

#pie a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 5px 0px 5px 0px;
}

.pie-izq{
    display: flex;
    flex-direction: column;
}

.pie-der{
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.pie__numero{
    width: 100%;
}

.pie__mail{
    width: 100%;
}

.redes{
    width: 40px;
}



/* RESPONSIVE TABLET */
@media (min-width:576px) {
    /* RESPONSIVE TABLET TRABAJOS */
    .nav-trabajos-contenedor ul li{
        padding: 0px 30px 0px 30px;
    }
    
    .nav-trabajos-contenedor ul li a{
        font-size: 1.2rem;
    }
    
    
    #grilla-trabajos{
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(11, 33vh);
    }

    .info-item{
        width: 50%;
        height: 33vh;        
    }

    .grilla-item a img{
        height: 100%;
        width: auto;
    }

    .grilla-item a video{
        height: 100%;
        width: auto;
    }
}

/* RESPONSIVE DESKTOP */
@media (min-width:768px) {
    #navbarNav{
        justify-content: end;
        align-items: flex-end;
    }

    .nav-link{
        font-size: 1rem;
    }

    /* RESPONSIVE DESKTOP INDEX */
    .portada-foto{
        position: fixed;
        width: 100%;
        height: auto;
    }

    .seccion-servicios{
        height: fit-content;
    }

    .servicios-imagen{
        height:fit-content;
    }

    .servicios-imagen img{
        width: 100%;
        height: auto;
    }

    .servicios-imagen video{
        width: 100%;
        height: auto;
    }

    .titular{
        height: auto;
    }

    /* RESPONSIVE DESKTOP TRABAJOS */
    .nav-trabajos{
        width: 100vw;
        flex-flow: row;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
    }

    .nav-trabajos-contenedor {
        width: fit-content;
        padding: 0;
    }

    .nav-trabajos-contenedor ul li{
        padding: 0px 30px 0px 30px;
    }
    
    .nav-trabajos-contenedor ul li a{
        font-size: 1.3rem;
    }
    
    #grilla-trabajos{
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: repeat(7, 50vh);
        gap: 0;
    }

    .info-item{
        width: 33%;
        height: 50vh;        
    }

    .grilla-item a img{
        height: 100%;
        width: auto;
    }

    .grilla-item a video{
        height: 100%;
        width: auto;
    }

    #pie{
        justify-content: center;
        align-items: center;
    }

    .pie-izq{
        width: 66%;
        flex-flow: row;
        justify-content: space-between;
    }

    .pie__numero{
        width: 50%;
    }
    
    .pie__mail{
        width: 50%;
        text-align: center;
    }

    .pie-der{
        width: 33%;
        justify-content: flex-end;
    }

}